<app-loading *ngIf="loading" class="m-5"></app-loading>
<div class="row" *ngIf="!loading">
  <div class="col-2">
    <img [src]="artist.images | sinfoto" class="img-thumbnail img-circle">
  </div>
  <div class="col">
    <h3> {{ artist.name}} </h3>
    <p>
      <a [href]="artist.external_urls?.spotify" target="_blank">Ir a la página
        del artista
      </a>
    </p>
  </div>
  <div class="col-4 text-right">
    <button routerLink="/search" class="btn btn-outline-danger">Volver atrás</button>
  </div>
</div>
<div class="row">
  <div class="table">
    <thead>
      <tr>
        <th>Foto</th>
        <th>Album</th>
        <th>Cancion</th>
        <th>Vista previa</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let track of topTracks">
            <th>
              <img [src]="track.album.images | sinfoto" class="img-thumb">
            </th>
            <th>{{ track.album.name }} </th>
            <th>{{ track.name }}</th>
            <th>
                <iframe [src]="track.uri | safedom"
                        width="300" 
                        height="80" 
                        frameborder="0" 
                        allowtransparency="true" 
                        allow="encrypted-media">
                </iframe>
            </th>
          </tr>
    </tbody>
  </div>
</div>
