<div class="container top30">
    <div class="row">
        <div class="col">
            <input  type="text" 
                    placeholder="Busque un artista..." 
                    class="form-control" 
                    (keyup)="searchArtist()" 
                    [(ngModel)]="termino">
        </div>
    </div>
</div>

<div class="card-columns m-5">
    <div class="card" *ngFor="let artist of artists">
        <img class="card-img-top" [src]="artist.images | sinfoto" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ artist.name }}</h5>
        </div>
    </div>
</div>